@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo&display=swap');

/* *, body, html {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
} */

:root {

  /* global variables */
  --escuro: #000;
  --vermelho-escuro: #9a030a;
  --vermelho: #b70001; 
  --cinza-claro: #d3c8cb;
  --cinza: #909091;
  --cinza-escuro: #473c44; 

  --texto: 'Chivo', sans-serif;
  --titulo: 'Bebas Neue', sans-serif;

  font-family: var(--texto);
  font-size: 24px;
}

h1, h2, h3 {
  font-family: var(--titulo);
}

@tailwind base;

@layer base {
  body {
    @apply bg-black text-white;
  }
  main {
    @apply py-6;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
}
@tailwind components;
@tailwind utilities;
