.contato {
    padding: 3rem;
    color: white;
}

.contato__form {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

textarea {
    font-size: 1.5rem;
    height: 300px;
}

input[type=text], input[type=email], input[type=phone], textarea {
    @apply text-white border border-red-800 rounded-md;
    width: 100%;
    border: 3px solid var(--vermelho-escuro);
    background-color: transparent;
    color: white;
    padding: 0.5rem;
}

button {
    @apply bg-red-500 text-white hover:bg-red-800 border border-red-800 rounded-md;
    min-width: 200px;
    max-width: 250px;
    height: 70px;
    font-size: 2rem;
    color: white;
    display:  flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}  
