.Siga {
    padding: 2rem;
    background-color: var(--escuro);
    color: white;
}

.siga__grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.siga__endereco {
    width: 30vw;
    text-align: left;
    font-size: 0.7rem;
}

.siga__redes {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
}

.siga__logo {
    width: 200px;
}

.siga__botoes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.siga__botoes_redes {
    color: white;
    font-size: 1.5rem;
}
